body {
  max-width: 1000px;
  margin: 0 auto; /* Center the content horizontally */
}

.button-container {
  text-align: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #008CBA;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #00698C;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 20px 0;
}

table th {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  padding: 12px;
  border-bottom: 2px solid #ddd;
}

table td {
  background-color: #f2f2f2;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
